<div id="error_explanation">
	<h2><%= pluralize(@order.errors.count+@sender.errors.count+@recipient.errors.count, "error") %> prohibited this order from being saved:</h2>
	<ul>
	<% (@order.errors.to_a+@sender.errors.to_a+@recipient.errors.to_a).flatten.each do |error| %>
	  <li><%= error %></li>
	<% end %>
	</ul>
</div>